<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Password Reset</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f3f3f3;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            font-size: 28px;
            color: #333;
        }
        p {
            font-size: 16px;
            color: #555;
            line-height: 1.6;
        }
        .highlight {
            font-weight: 800;
            color: #0070c9;
        }
        .signature {
            margin: 0;
            text-align: center;
        }
        .signature p {
            font-size: 14px;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Account Password Reset</h1>
        <P>We have Received a Request to reset your password .If you did not make this request, you may ignore this email.</P>
        <p>Here is your OTP <span class="highlight"><%=otpCode%></span></p>
        
        <div class="signature">
            <p>Thanks & Regards</p>
            <p>Ecommarce-Service</p>
        </div>
    </div>
</body>

</html>
